RewriteEngine On

# 1. http を https に統一
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# 2. www ありを www なしに統一
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

# 3. index.html を削除
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.*/)?index\.html\s [NC]
RewriteRule ^(.*/)?index\.html$ https://%{HTTP_HOST}/$1 [R=301,L]
